{% extends 'base/base.html' %}
{% block title %} 邮箱绑定 {% endblock %}
{% block content %}
<div class="col-md-5 col-sm-6 col-xs-12">
    <div class="well">
        <h2>绑定账号</h2>
        <p>欢迎您登录：
        {% if type == '1' %}
            <img class="type" src="http://yshblog.com/static/img/connect/logo_github.png" alt="GITHUB" />
        {% elif type == '2' %}
            <img class="type" src="http://yshblog.com/static/img/connect/logo_qq.png" alt="QQ" />
        {% elif type == '3' %}
            <img class="type" src="http://yshblog.com/static/img/connect/logo_sina.png" alt="WEIBO" />
        {% endif %}
        <b>{{nickname}}</b>，请您绑定本站账号</p>
        <form role="form" action="{% url 'oauth:bind_email' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.is_hidden %}
                    {{field}}
                {% else %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endif %}
            {% endfor %}
            {{ form.non_field_errors }}
            <div class="right">
                <button id="register" type="submit" class="btn btn-default pull-right">绑定</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}