{% extends 'base/base.html' %}
{% block title %} 登录 {% endblock %}
{% block content %}
    <h2> Login </h2>
<form>
    {% csrf_token%}
    {{form.as_p}}
    <button type="submit">Login</button>
</form>
<p><strong>-----Or----</strong></p>
<div id="oauth_button">
    <div class="pull-right">
        <span>其他账号登录：</span>
        <a href="{% url 'oauth:github_login' %}"><img class="type" src="http://yshblog.com/static/img/connect/logo_github.png" alt="GITHUB" /></a>
        <a href="{% url 'oauth:qq_login' %}"><img class="type" src="http://yshblog.com/static/img/connect/logo_qq.png" alt="QQ" /></a>
        <a href="{% url 'oauth:weibo_login' %}"><img class="type" src="http://yshblog.com/static/img/connect/logo_sina.png" alt="WEIBO" /></a>
    </div>
</div>
{% endblock %}