{% extends 'base/base.html' %}
{% block title %} 我的作品主页 {% endblock %}

{% block content %}
   <div class="container">
        <div class="col-md-4 col-md-offset-4">
         <ul class="navbar-brand">
                <li><a href="/viodes/imgs.html">我的相片</a></li>
                <li><a href="/api/ImgView2/">上传相片</a></li>
                <li><a href="/viodes/video.html">我的视频</a></li>
                <li><a href="/api/VideoView2/">上传视频</a></li>
                <li><a href="">我的标签</a></li>
                <li><a href="/viodes/showtimes.html">上传时间</a></li>
                <li><a href="/viodes/Pseudo_delete_video.html">图片回收站</a></li>
                <li><a href="/viodes/Pseudo_delete_img.html">视频回收站</a></li>
            </ul>
        </div>
    </div>
{% endblock %}